@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600;700;800&display=swap");

@import "./styles/theme.css";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-body);
  background: #ffffff;
}
.hero-swiper .swiper-pagination {
  bottom: 20px !important;
}

.hero-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #0a4a9e;
  opacity: 0.4;
}

.hero-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.hero-swiper .swiper-slide {
  overflow: hidden;
}